[2015-07-15 05:14] gjrwebber opened #1 "Implement Spring autoconfiguration"
Implement Springs autoconfiguration for Spring boot.

[2015-07-15 05:15] gjrwebber opened #2 "Indexes on multiple properties"
Currently indexes only work for a single property. It would be nice to be able to index multiple properties.

[2015-07-15 05:17] gjrwebber opened #3 "Many to One relationships"
Only one-to-many relationships are supported at the moment, many-to-one relationships would be nice.

[2015-07-15 05:18] gjrwebber opened #4 "Many to Many relationships"
Only one-to-many relationships are supported at the moment, many-to-many relationships would be nice.

[2015-07-15 05:21] gjrwebber opened #5 "Links as entities"
Currently Objects are mapped to vertices, and links are only given a name. Graph databases allow for complex links, so it would be nice to map a complex link to an Object.

[2015-07-15 05:21] gjrwebber opened #6 "Lazy fetching"
Currently all references are fetched "eagerly". It would be nice to allow for lazy fetching.

[2015-07-15 05:23] gjrwebber opened #7 "Repository definitions using Frames"
Repository definitions using [Frames](http://frames.tinkerpop.com)

[2015-07-15 05:26] gjrwebber opened #8 "Implement Neo4j"
Implement [Neo4j](https://en.wikipedia.org/wiki/Neo4j)

[2015-07-15 05:27] gjrwebber opened #9 "Implement ArangoDB"
Implement [ArangoDB](https://www.arangodb.com)

[2015-07-15 05:28] gjrwebber opened #10 "Implement Blazegraph"
Implement [Blazegraph](http://www.blazegraph.com/bigdata)

[2015-07-15 05:29] gjrwebber opened #11 "Migrate to Tinkerpop 3.0"
Migrate to [Tinkerpop 3.0](http://www.tinkerpop.com/docs/3.0.0.M1/)

[2015-07-16 06:03] gjrwebber opened #12 "Allow JPA annotations on methods"
Currently JPA generation only works when the annotations are added to fields. Allow JPA annotations on methods such as getters, setters.

[2015-07-22 05:26] gjrwebber opened #13 "Allow for IDs other than String"
Currently only Strings are allowed as the mapped vertex ID. A workaround is to add a GremlinPropertyEncoder to the JpaSchemaGenerator which can encode/decode to anything.

[2015-07-22 05:30] gjrwebber opened #14 "Many to One relationships creating an extra link"
If a One to Many relationship exists, a Many to One relationship on the referenced Object will result in 2 links between the two vertices.

[2015-07-30 00:44] gjrwebber commented on #14
This is now working as expected.

[2015-07-30 00:44] #14 closed

[2015-07-30 04:03] gjrwebber opened #15 "Repository definitions using Neo4J"

[2015-07-30 06:10] gjrwebber commented on #3
Done.

[2015-07-30 06:10] #3 closed

[2015-07-30 06:11] gjrwebber opened #16 "Pageable not working as expected"
I implemented paging thinking that Pageable was indexed at 1, but it is indexed at 0.

[2015-07-30 06:11] gjrwebber commented on #16
This is now fixed.

[2015-07-30 06:11] #16 closed

[2015-07-30 06:13] gjrwebber opened #17 "OrientDB schema write does not handle existing edges gracefully"
An exception is thrown when the OrientDbSchemaWriter tries to create an existing edge.

[2015-07-30 06:13] gjrwebber commented on #17
This is fixed. Existing edges of the same name are now ignored.

[2015-07-30 06:13] #17 closed

[2015-07-30 23:43] gjrwebber opened #18 "Transactions not propagating properly"
It seems that the transaction is not rolling back when it should be.

[2015-07-30 23:45] gjrwebber opened #19 "Linked vertices which are null are throwing NPE"

[2015-07-31 00:14] #18 closed

[2015-07-31 00:14] #19 closed

[2015-08-06 06:33] buiminhhuy commented on #5
Hi girwebber,
Have you been implement not yet? Can you share it? I can fix bug for you. I are going to implement this problem.
Thanks,
Huy Bui

[2015-08-06 07:04] gjrwebber commented on #5
Hi Huy, I am in the middle of implementing this along with #15. Would you be interested in implementing Neo4j  (#8)?

[2015-08-06 07:17] buiminhhuy commented on #5
Hi Girwebber,
I have been change my web project from Neo4j to Orientdb, So I am interesting your project to integrate to my project. Before that I used Spring-Data-Neo4j (I leave Neo4j because it is commerce).

[2015-08-06 23:13] gjrwebber commented on #5
Well, you'l be interested in #15 as you'll be able to use your Neo4j annotations and switch databases without too much issue.

[2015-08-10 08:50] gjrwebber commented on #5
Hi Huy, I just pushed some code on the develop branch which takes care of this issue and #15.

[2015-08-10 09:06] buiminhhuy commented on #5
Hi Girwebber,
Great sound, I am implementing base on your framework, but only complete on create schema for relationship, not yet complete add edge. Thanks you very much. If you need I will share it via email.

[2015-08-10 15:51] buiminhhuy commented on #5
Hi Girwebber,
Maybe work ok, but I have some concern as:
       + On your test, I got some warning as:
"WARNING: Requested command 'create edge type 'was_located' as subclass of 'E'' must be executed outside active transaction: the transaction will be committed and reopen right after it. To avoid this behavior execute it outside a transaction".
=>Maybe the Schema have not yet created "was_located"

[2015-08-10 23:23] gjrwebber opened #20 "WARNING: Requested command 'create edge type 'was_located' as subclass of 'E'' must be executed outside active transaction"
When running tests, the following warning is logged:

"WARNING: Requested command 'create edge type 'was_located' as subclass of 'E'' must be executed outside active transaction: the transaction will be committed and reopen right after it. To avoid this behavior execute it outside a transaction".

[2015-08-10 23:27] gjrwebber opened #21 "Create repository for RelationshipEntity Objects"
We should be able to save, update, remove, query, etc on RelationshipEntity Objects.

This may already work, but requires some investigation to find out and add some test cases.

[2015-08-10 23:29] gjrwebber opened #22 "Create GremlinTemplate"
Create OrientDBTemplate inline with other Spring data projects which offer this paradigm.

[2015-08-10 23:29] gjrwebber opened #23 "Create TitanDBTemplate"
Create TitanDBTemplate inline with other Spring data projects which offer this paradigm.

[2015-08-10 23:34] gjrwebber opened #24 "Create custom schema annotations"
Some users may want to use a set of annotations that are specific to this project.

[2015-08-10 23:46] gjrwebber commented on #5
Hi Huy, thanks for the feedback! I have added #20, #21, #22, #23, #24. Let me know if you are interested in doing any of them?

[2015-08-10 23:48] gjrwebber commented on #5
This issue has been implemented on the develop branch as of 3eafe249362fc618ae4284c114d45caee9defeed .

[2015-08-10 23:48] #5 closed

[2015-08-10 23:48] gjrwebber commented on #15
This has been implemented on the develop branch as of 3eafe249362fc618ae4284c114d45caee9defeed

[2015-08-10 23:48] #15 closed

[2015-08-11 00:30] buiminhhuy commented on #22
Hi Gjrwebber,
Can you work first on this item. I am migrating my project to use your framework, So I am thinking about this.

[2015-08-11 01:14] gjrwebber opened #25 "Add unit tests for all property mappers"
Need to add unit tests for all org.springframework.data.gremlin.schema.property.mapper.Gremlin*PropertyMappers.

[2015-08-11 01:18] gjrwebber commented on #22
I'll take a look to see what is involved and get back to you.

[2015-08-11 04:26] compensator commented on #20
From what I've gathered, this should probably be INFO instead of WARNING.  OrientDB handles the issue of a schema change within a transaction for the developer by committing and exiting  transaction, executing the schema change, and opening a/the transaction, then continuing and issues a WARNING rather than INFO; it does this because schema changes are non-transactional.

[2015-08-11 04:56] gjrwebber commented on #20
Thanks, I'll have a look anyway to see whether there is anything I can do.

[2015-08-11 05:18] gjrwebber opened #26 "Create a HybridSchemaGenerator"
Create a HybridSchemaGenerator which considers all SchemaGenerators in the class path and builds the schema using any of the available annotations. ie. Users will be able to combine JPA, Neo4j and any custom annotations.

[2015-08-11 05:22] gjrwebber commented on #4
I believe this is now possible when using Neo4j annotations (#15). JPA still to come.

[2015-08-11 06:53] gjrwebber commented on #4
I am thinking that the @ManyToMany annotation could be repurposed to map to an Edge, the same way @RelatedToVia and @LinkVia work.

[2015-08-12 02:32] buiminhhuy commented on #21
Hi Gjrwebber,
Saving for RelationshipEntity Objects, only save cascade when saving any NodeEntity Objects, which has properties as RelationshipEntity. I do not want to save cascade or load cascade, So should be create RelationshipRepository as in Spring Data Neo4j, or you can create OrientDBTemplate to do this task.

[2015-08-12 23:01] gjrwebber opened #27 "Add @Query to Entity properties"
It would be nice to be able to add the @Query annotation above a referenced Collection of @Entities and have it fetched when the Object is loaded from the graph.

Eg

[code]

[2015-08-14 05:40] gjrwebber commented on #24
Resolved on develop branch.

[2015-08-14 05:40] #24 closed, assigned to nobody

[2015-08-14 06:38] buiminhhuy commented on #24
Cool, I will use this Annotations. Thanks you.

[2015-08-14 07:09] gjrwebber commented on #22
I have added OrientObjectTemplate OrientDocumentTemplate on the feature/#22_OrientTemplate branch. I have copied these straight from https://github.com/orientechnologies/spring-data-orientdb so there is no guarantee they work.

Also, for the record, I am not sure this belongs in this project.

[2015-08-14 07:38] buiminhhuy commented on #22
Hi Gjrwebber,

OrientDBTemplate, which we should be follow to concepts on Graph. OrientObjectTemplate OrientDocumentTemplate in "spring-data-orientdb" project are specify to Document and Object, it is not Graph. I don't like that concepts and it is not belong your project.

OrientDBTemplate should be follow to concepts as methods in GremlinRepository and combine with some method for relationship (

[2015-08-15 08:36] gjrwebber commented on #22
So, do you think that something more like GremlinTemplate is more suitable to this project? Since that this is basically a Gremlin abstraction for Spring Data, not just for OrientDB.

What specifically would you use this Template for?

[2015-08-15 10:23] buiminhhuy commented on #22
Right, GremlinTemplate, not Orient ot Titan. Thanks.

[2015-08-16 03:45] buiminhhuy commented on #22
Template, which I mentioned similar with spring-data-neo4j as below:
Interface: https://github.com/spring-projects/spring-data-neo4j/blob/master/spring-data-neo4j/src/main/java/org/springframework/data/neo4j/template/Neo4jOperations.java

Implement: https://github.com/spring-projects/spring-data-neo4j/blob/master/spring-data-neo4j/src/main/java/org/springframework/data/neo4j/support/Neo4jTemplate.

[2015-08-16 15:24] buiminhhuy commented on #21
Hi Gjrwebber,
You can support me, implement for this issue. I need it to save a Link(Edge) independent as Vertex.

[2015-08-17 06:17] gjrwebber commented on #21
Hi Huy, I had a look at this, and I cannot see a way to create Edges without also linking them to vertices. The Tinkerpop API does not allow it and neither does OrientDB as far as I can see.

Not to mention it doesn't really make sense to have an edge without it linking to anything. It sounds like you should be using vertices instead. But I am no expert on Graph DBs, so take that with a grain of s

[2015-08-17 06:18] gjrwebber commented on #22
Hi Huy, what specific methods would you like to see in GremlinOperations?

[2015-08-17 06:19] #23 closed, assigned to nobody

[2015-08-17 06:20] gjrwebber commented on #21
Maybe if you give me a use case I can understand why this is needed?

[2015-08-17 06:36] buiminhhuy commented on #21
Example:
Vertex: A.
Edge: C (From A To A), C is not property of A.

If C is a property of A, then you can create , update, delete, query via A.
But at here I don't want C is a property of A. When I want to load, create, delete C must be via From A and To A. So should be Relationship Repository.

[2015-08-17 07:24] #20 closed, assigned to nobody

[2015-08-17 07:31] gjrwebber commented on #21
Ok, so you don't want the have C on it's own in the database, you just want to be able to CRUD without going through A. Is that correct?

[2015-08-17 07:42] buiminhhuy commented on #21
That right.

[2015-08-17 07:50] gjrwebber commented on #21
I have created a branch feature/Issue_21 which I have added a simple test for finding all Located edges in the OrientDB test harness (85055b44708760fb56cb5ba05cccaae09cefce54).

When you run it you can see that the SimpleGremlinRepository is very Vertex centric. If you want to have a go at coming up with a GremlinRepository that handles Edges that would be great. You can find out from The GremlinS

[2015-08-17 08:05] buiminhhuy commented on #21
Thank you very much. Sorry for this inconvenience.

[2015-08-17 11:03] gjrwebber commented on #21
No worries mate. I appreciate your help and enthusiasm!

[2015-08-22 05:42] buiminhhuy commented on #21
I still concert on this. I think should be add the feature for your source.
A example: if User(vertex) object has relationship is Friend(edge). if you do not separate the user vertex and the friend edge independence. when you get the user by Id you will get all friends (if friends list with amount are trillion, it is so large, I think difficultly to handle data). Addition you are very hard to upda

[2015-08-23 16:08] buiminhhuy opened #28 "How to ignore property private static on Vertex"
example:
I have a class:
UserAccount{
   private static final long serialVersionUID = 1L;

   @Value("${app.md5encode.salt}")
   private static final String SALT = "aaaa";
  // other properties
}

When generating schema, above properties static final should be not created. wrong generate schema, see red zone below image.
![useraccount](https://cloud.githubusercontent.com/assets/568664/9428998/86b9

[2015-08-24 03:57] gjrwebber commented on #28
Yes, that sounds about right. Static fields should not be serialised.

[2015-08-26 17:05] buiminhhuy opened #29 "Bug with list Enum"
Enum:
public enum Role {
    USER,
    ADMINISTRATOR
}

Class:
UserAccount{
   @Enumerated(STRING)
    private Set< Role > roles;
    public Set< Role > getRoles() {
        return roles;
    }
    ....
    //other properties
}

When save by Respository, then I use as below:

Set< Role > roles = userAccount.getRoles();
for (Role role : roles) {
    //todo
}

I get Error at statement: "for (Role ro

[2015-08-27 07:31] #28 closed, assigned to gjrwebber

[2015-08-28 06:57] #29 closed, assigned to nobody

[2015-08-28 07:03] gjrwebber commented on #29
This has been fixed by saving the Collection of Enums as a comma separated String in the Graph. So in the example above a String "USER,ADMINISTRATOR" will be saved to the graph if the Set contains both enums.

Also, the Collection declaration must be a concrete type, unless you use the new @EnumeratedCollection annotation where you can specify the concrete type of the Collection. So in the example

[2015-08-28 07:10] gjrwebber commented on #21
@buiminhhuy would #27 solve this?

[2015-08-28 08:10] gjrwebber opened #30 "AbstractPersonRespositoryTest.testCollectionsCascadeRemove() sometimes fails"
AbstractPersonRespositoryTest.testCollectionsCascadeRemove() test sometimes fails for OrientDB and/or TitanDB. I can't remember seeing it fail for Tinker, but it could have. If it does it is less common.

[2015-08-30 16:45] buiminhhuy opened #31 "I don't know how to save a object property of Vertex"
example:
@Vertex
public class OAuth2AuthenticationAccessToken extends AbstractDomainEntity {
    private static final long serialVersionUID = -3919074495651349876L;

[code]

}

Note: OAuth2AccessToken, OAuth2Authentication are two interface of Spring FrameWork. They will instance object when runtime. I don't know how to save them in OrientDB. in them may be have some another Class. May be refer be

[2015-08-30 16:50] buiminhhuy commented on #21
May be solve. But not optimize. Thanks

[2015-09-05 00:39] kerler opened #32 "Support XML configuration besides annotation"
Dear gjrwebber,

I want to use Spring Data Gremlin on legacy POJO classes and I do not want to add annotation onto those POJO classes. So would you like to support XML configration besides annotation?

So far without support to XML configuration, I will have to use bytecode manipulation tool such as ByteBuddy to add annotation onto legacy POJO classes.

Thanks,
Kerler

[2015-09-06 23:03] gjrwebber commented on #32
Hi Kerler, definitely not a bad idea, though I don't know how popular the feature is. At this point I am continuing on the core of the project and getting it up to scratch. If you want to take a stab at it, be my guest!

Thanks,
Graham

[2015-09-09 06:29] buiminhhuy commented on #31
Hi Gjwebber,
Above problem, I think you should be add a description to annotation @Property (type = String.class) or your mind. when saving this Properties you can check and convert object to Type in the @Property annotation.

Help me resolve this problem. Because I am processing it in my project.

[2015-09-09 10:48] gjrwebber commented on #31
@buiminhhuy, let me know how you think it should be saved? As a Serialized Object? Which means it has to implement Serializable. How can we save an Object that is not an "entity" or vertex or @Embedded object?

[2015-09-09 11:01] buiminhhuy commented on #31
Yes I mean the both two your questions:
- You can save it As a Serialized Object or String (json).
- How can we save an Object that is not an "entity" or vertex or @Embedded object?

[2015-09-13 10:15] buiminhhuy commented on #31
Hi @gjrwebber , You have any update for this problem. I think the problem will necessary for your project. When a vertex or Edge have properties type are binary, json object,  serialized object,...

[2015-09-17 21:38] binaryblake opened #33 "Add to maven central"
Can this project be released to Maven central or some repository?

[2015-09-18 00:01] gjrwebber commented on #33
It sure can. I'll get onto that.

[2015-09-19 09:16] buiminhhuy opened #34 "Support events listener for the project"
You can ref to http://docs.spring.io/spring-data/mongodb/docs/current/api/org/springframework/data/mongodb/core/mapping/event/AbstractMongoEventListener.html

[2015-09-20 22:27] gjrwebber opened #35 "Adding equals() to domain objects breaks some tests"
If I add the 2 methods below to Person.java a bunch of tests break.

[code]

[2015-09-21 14:35] Maiakov commented on #33
any updates?

[2015-09-21 15:58] Maiakov opened #36 "Can`t build"
18:55:24.515 [ERROR] [org.gradle.BuildExceptionReporter] FAILURE: Build failed with an exception.
18:55:24.516 [ERROR] [org.gradle.BuildExceptionReporter]
18:55:24.516 [ERROR] [org.gradle.BuildExceptionReporter] \* What went wrong:
18:55:24.517 [ERROR] [org.gradle.BuildExceptionReporter] Could not resolve all dependencies for configuration ':spring-data-gremlin-core:compile'.
18:55:24.517 [ERROR]

[2015-09-21 16:41] #36 closed, assigned to nobody

[2015-09-22 02:25] #33 closed, assigned to gjrwebber

[2015-09-22 02:28] gjrwebber commented on #33
### Download dependencies

Currenlty only SNAPSHOT builds are being uploaded to sonatype so you will need to add `https://oss.sonatype.org/content/repositories/snapshots/` repository URL to your build configuration.

#### Maven

[code]

#### Gradle

[code]

Once you have your build configuration setup you need to add the correct dependencies. To do that you need to decide which database and schema

[2015-09-22 06:24] buiminhhuy commented on #31
@gjrwebber, Help me :D

[2015-09-22 06:26] gjrwebber commented on #31
@buiminhhuy I am working on #21 at the moment. If you want an issue resolved, how about contributing? Fork the repo, branch it, fix it and merge request it :)

[2015-09-22 06:29] buiminhhuy commented on #31
Ok @gjrwebber, I am very happy if I am become contributor for your project. I will try to resolve.

[2015-09-22 11:33] binaryblake commented on #33
Thanks!

[2015-09-22 12:11] #21 closed, assigned to nobody

[2015-09-22 12:17] binaryblake opened #37 "Circular reference detection"
If I have a vertex that has an edge to another vertex of the same type, it would be nice to prevent infinite looping on query. Simplified Example:

[code]

If I create edges between questions AND set the FromVertex, I will get a circular reference and a findOne() query will be in an infinite loop. I can get around this by only setting ToVertex, but then I lose a direction. Being able to fetch lazi

[2015-09-22 12:40] gjrwebber commented on #37
Hi Blake, I think I have fixed this in the latest SNAPSHOT (just uploaded). Can you please download the latest and give it a try?

Thanks,
Graham

[2015-09-22 12:55] binaryblake commented on #37
Will do - thanks for the quick response

[2015-09-22 18:42] binaryblake commented on #37
No luck. Here is my simple graph set up:

[code]

Then if I use repo.findAll(). I get the following response:

[code]

 ..... forever

Ideally it could detect that Question 256 has already been fetched from the graph, and just set the ID or something. I believe that's how spring-data-neo4j does it.

[2015-09-23 10:28] gjrwebber commented on #37
Hey Blake, I just added a circular reference to the test domain, see org.springframework.data.gremlin.object.core.domain.Person. It seems to be performing fine, there is no StackOverflowError or anything. Could it be the JSON serialiser that has the issue?

[2015-09-23 23:26] #35 closed, assigned to gjrwebber

[2015-09-24 00:55] gjrwebber commented on #31
@buiminhhuy I have some time now to look at this one. Are you working on it?

[2015-09-24 01:49] buiminhhuy commented on #31
No, I am busy for my company project.

[2015-09-24 01:52] gjrwebber commented on #31
ALright, I'll look at it.

[2015-09-24 08:03] #31 closed, assigned to gjrwebber

[2015-09-24 08:04] gjrwebber commented on #31
I should also note that if you want to ignore the property you can still use transient keyword or @Ignore.

[2015-09-24 08:20] buiminhhuy commented on #31
ok, Thanks You.

[2015-09-24 22:10] gjrwebber commented on #37
@binaryblake could you create a unit test for this?

[2015-10-09 05:47] gjrwebber opened #39 "@Embed requires a propertyOverrides parameter"
Need to update Embed.propertyOverrides with a default of {}.

[2015-10-09 05:48] gjrwebber commented on #37
Closed as it cannot be replicated.

[2015-10-09 05:48] #37 closed, assigned to nobody

[2015-10-09 05:51] #39 closed, assigned to nobody

[2015-10-11 16:00] buiminhhuy commented on #31
I got a error:
com.fasterxml.jackson.databind.JsonMappingException: No suitable constructor found for type [simple type, class org.springframework.security.oauth2.provider.OAuth2Authentication]: can not instantiate from JSON object (need to add/enable type information?)
 at [Source: java.io.StringReader@5df99cba; line: 1, column: 2]

![image](https://cloud.githubusercontent.com/assets/568664/10417

[2015-10-11 21:54] gjrwebber opened #40 "Upgrade to Spring Data Commons 1.11.0"
Spring data 2.4 has update RepositoryFactorySupport which GremlinRepositoryFactory extends. A new method has been introduced (getTargetRepository(RepositoryInformation)).

[2015-10-13 01:15] gjrwebber commented on #31
You'll have to add a mixin (new) as described [here](http://wiki.fasterxml.com/JacksonMixInAnnotations#line-55) to the @Property annotation.

Something like @Property(jsonMixin = OAuth2AuthenticationMixin.class) where OAuth2AuthenticationMixin will have to be written by you.

[2015-10-13 02:01] buiminhhuy commented on #31
Thanks for quick response.

[2015-10-17 17:59] buiminhhuy commented on #31
Hi @gjrwebber
I added OAuth2AuthenticationMixin.class to OAuth2AuthenticationAccessToken.

[code]

It seem work ok, but I again get a bug with OAuth2Request, mixin Json as below:

[code]

I need implement to deserialize in
@Property
private OAuth2AccessToken oAuth2AccessToken;

[code]

or for authorities above, because default json parse wrong syntax.
I thinks, I must be add converter to convert a

[2015-10-19 17:15] buiminhhuy commented on #31
I completed this. as below code:

[code]

[2015-10-22 08:15] buiminhhuy commented on #34
Hi @gjrwebber,
I don't how to trigger when save/update occur on your framework. I need update below fields to keep track changes.

[code]

[2015-11-19 11:06] clepelli opened #41 "Update LinkVia documentation - specifying direction seems required"
Hello Graham,

First of all, thanks for your work.

I have generated an OrientDB shema thanks to the default shema generator.
In case of "linkvia" relationships, I have found that I must not rely only on the ToVertex / FromVertex annotations in the Edge class, but I must also specify the direction IN/OUT in the LinkVia annotation (wich defaults to OUT).

If I do not, the relatedProperty may be con

[2015-11-19 11:35] clepelli opened #42 "EdgeRepository - update Edge"
Hello again,

Updating an edge via the SimpleGremlinRepository always fails, throwing "Schema is neither EDGE nor VERTEX!".

Actually there is a typo there: https://github.com/gjrwebber/spring-data-gremlin/blob/126efb2529e5f362222b2f15fe246de764c90e97/spring-data-gremlin-core/src/main/java/org/springframework/data/gremlin/repository/SimpleGremlinRepository.java#L120

Best regards,
Clément.

[2015-11-19 13:44] clepelli commented on #42
Then, we should remove the cascade when the Edge is updated as the vertices may not be loaded. Below is my quick local rewriting of the method discussed above.

[code]

[2015-12-12 20:01] ollihoo commented on #40
Hi Graham

Would you mind creating another snapshot that contains your changes for this new method?
Is the code stable enough or is there something I can do?

[2016-03-29 12:56] amitjindal opened #43 "ID not returned after save"
Hi, I am trying to use this with OrientDB. When I save a vertex, the returned object does not have ID set on that. Is this a bug?

Example:

[code]

[code]

[code]

So when I print raybarone.getId() I get null.

[2016-03-29 13:02] amitjindal commented on #43
Forgot to mention. I am using the default generator.

[2016-03-29 23:56] gjrwebber commented on #43
Hi Amit, the Id is set on the returned object after the transaction has
closed. So could it be something to do with you printing the id before this
happens?

On Wed, 30 Mar 2016 at 00:02 Amit Jindal notifications@github.com wrote:

[2016-03-30 03:57] amitjindal commented on #43
@gjrwebber Oh. Didn't realize the transaction here.
Let me say what I want to do. I want to save several users and then connect them. I am using OrientDB.
When I do this with code below, I get duplicate entries in MyAccount. Here I expected 6 entries in MyAccount but I am getting 18.

Here's what I am doing:

[code]

How would you suggest I do this? Is there a way to explicitly complete a transact

[2016-03-30 04:33] amitjindal commented on #43
@gjrwebber My mistake. I had `@Transactional` on the service. Removing that everything started working. Thanks for your help!

[2016-03-30 04:33] #43 closed, assigned to nobody

[2016-04-08 05:44] kerler commented on #9
Dear Graham,

When will you implement ArangoDB?

Thanks,
Baogang

[2016-04-08 06:06] kerler commented on #8
Dear Graham,

When will you implement Neo4j?

Thanks,
Baogang

[2016-04-12 08:10] kerler opened #44 "Test cases *.java::testCollectionsCascadeRemove() fail occasionally"
Test cases *.java::testCollectionsCascadeRemove() fail occasionally.

====Source code of test cases====

The source code of those test cases are at:

org.springframework.data.gremlin.object.core.repository.AbstractPersonRepositoryTest.java::testCollectionsCascadeRemove().

org.springframework.data.gremlin.object.jpa.repository.AbstractPersonRepositoryTest.java::testCollectionsCascadeRemove().

org

[2016-04-13 07:29] kerler opened #45 "Duplicated 'if (schema.isVertexSchema())' in SimpleGremlinRepository.java"
In spring-data-gremlin/spring-data-gremlin-core/src/main/java/org/springframework/data/gremlin/repository/SimpleGremlinRepository.java::save(), there are duplicated 'if (schema.isVertexSchema())':

if (schema.isVertexSchema()) {
                element = graph.getVertex(schema.decodeId(id));
            } else if (schema.isVertexSchema()) {
#

@Transactional(readOnly = false)
    public T save(Gra

[2016-04-13 14:03] kerler commented on #44
This issue is duplicated with issue [#30 AbstractPersonRespositoryTest.testCollectionsCascadeRemove() sometimes fails](https://github.com/gjrwebber/spring-data-gremlin/issues/30).

[2016-04-13 14:03] #44 closed, assigned to nobody

[2016-04-13 14:06] kerler commented on #30
For some additional info, please refer to [#44 Test cases *.java::testCollectionsCascadeRemove() fail occasionally](https://github.com/gjrwebber/spring-data-gremlin/issues/44). The log file attached in #44 shows that test case '....data.gremlin.object.tests.tinker.core.Tinker_Core_PersonRepositoryTest > testCollectionsCascadeRemove' fail sometimes.

#44 is closed as it is duplicated with this issu

[2016-04-14 07:13] tade82 opened #46 "javax.persistence.Version is not mapped to the @version metadata in orientDB"
Hi,

I am using OrientDB and strugling with version handling. I want to use optimistic locking on the client side but  javax.persistence.Version is not mapped to the @version metadata in OrientDB instead of that a new property column is created.

BR and keep up the good work,
Peter

[2016-04-14 12:42] tade82 commented on #46
Because the lack of version handling the optimistic locking is not working.
Eg.: If you have an entity in the database with id X and you create a new entity with the same X id and save it to the db, it will be saved flowlessly (overwrites the first version). In this case the proper working would be an OConcurrentModificationException since the versions are different.

[2016-04-14 13:34] kerler commented on #30
Dear Graham,

I did some debugging and found some hint. Would you like to check whether it is useful for you?

In my test, I run 'gradle test' many times under './spring-data-gremlin-tinker/'.

I added many logs into:
1. **.AbstractPersonRespositoryTest.java::testCollectionsCascadeRemove(){};
2. GremlinCollectionViaPropertyMapper.java::copyToVertex(){};
3. GremlinGraphAdapter.java::addEdge(){}.

A

[2016-04-14 13:42] kerler commented on #30
By the way, attached batch file [gradle_test_till_fail.bat.txt](https://github.com/gjrwebber/spring-data-gremlin/files/219218/gradle_test_till_fail.bat.txt) is helpful to reproduce the this problem.

'cd /spring-data-gremlin/spring-data-gremlin-tinker' and run this bat file, it will execute 'gradle test' again and again till the exit code of 'gradle test' is not 0.

[2016-04-15 01:43] gjrwebber commented on #30
Thanks Baogang! I am away this weekend, so I will have a look when I get
back.

On Thu, 14 Apr 2016 at 23:42 kerler notifications@github.com wrote:

[2016-04-15 03:23] kerler commented on #30
Dear Graham,

Could you tell me your email address? I want to send you two log files. I met problem when uploading the log files to this issue.

My email is liubaogang@gmail.com.

[2016-04-15 08:26] kerler commented on #30
I guess I found the root cause.

====Background Info====

The org.springframework.data.gremlin.object.core.domain.Person.java has two fields annotated with '@LinkVia':

[code]

The current code of spring-data-gremlin has flaws when handling '@LinkVia':

Flaw_A: If a POJO class has multiple fields (no matter collection type or not) annotated with '@LinkVia', spring-data-gremlin can not differentiat

[2016-04-17 22:05] gjrwebber commented on #30
Mate, you are a legend! Do you reckon you could create a merge request to
fix the test to fail every time?
On Fri, 15 Apr 2016 at 18:26, kerler notifications@github.com wrote:

[2016-04-18 00:54] kerler commented on #30
Dear Graham,

Just I did the following code change, I run the test cases several times, all failed. You may reproduce it on your PC.

`====Code Change====

In test cases below:
org.springframework.data.gremlin.object.core.repository.AbstractPersonRepositoryTest.java::testCollectionsCascadeRemove(){}
org.springframework.data.gremlin.object.neo4j.repository.AbstractPersonRepositoryTest.java::testCol

[2016-04-18 00:58] gjrwebber commented on #30
Ok thanks, I'll be able to look into this a bit later today. Thanks for
your help!

On Mon, 18 Apr 2016 at 10:54 kerler notifications@github.com wrote:

[2016-04-18 13:38] kerler commented on #30
Dear Graham,

After the above code change on the test case source code, although it is easier to reproduce the problem, in my later tests sometime the test run is still passed. So C2 may not always be true.

If in your test it is not easy to reproduce the problem, please let me know.

[2016-04-21 01:59] gjrwebber commented on #30
Hi Baogang, I have made a bunch of changes lately for a project I have been
working on. I have not been able to replicate this issue. Do you mind
checking as well?

Thanks,
Graham

On Mon, 18 Apr 2016 at 23:38 kerler notifications@github.com wrote:

[2016-04-21 02:15] gjrwebber opened #47 "Better support for generics"
Currently, properties of a generic superclass of a vertex class are not handled correctly or at all.

[code]

Properties something and somethings are not being handled, forcing each subclass to replicate those properties.

[2016-04-21 14:20] kerler commented on #30
Hi Graham,

In branch https://github.com/kerler/spring-data-gremlin/tree/test-issue-30, there are code which make #30 reproducible. The branch is branched from the last code in 2015.

I tried to branch from the newest code in 2016.04 and make code change, but in my test there is below error.

`java.lang.StackOverflowError
    at java.util.Objects.hashCode(Objects.java:98)
    at java.util.HashMap$

[2016-04-26 12:27] kerler opened #48 "GremlinQueryCreator.java::toCondition() should not change member field 'schema'"
org.springframework.data.gremlin.query.GremlinQueryCreator.java::toCondition() changes member field 'schema', as make that sometimes GremlinQueryCreator.java::complete() uses member field 'schema' whose value is different against what is set in constructor.

Suggest to define all the member field of GremlinQueryCreator.java to be final, and in toCondition() use a local variable such like 'GremlinS

[2016-05-02 00:15] gjrwebber opened #49 "Provide a mechanism to refresh the element when loading from the database."

[2016-05-02 00:16] #49 closed, assigned to nobody

[2016-05-02 00:22] gjrwebber commented on #42
Fixed in 11ee40b. Thanks clepelli!

[2016-05-02 00:22] #42 closed, assigned to nobody

[2016-07-02 19:59] kkdatkiran opened #50 "Always a vertex superclass is V."
Hi,
I found that "OrientDbSchemaWriter" class is creating the schema for all the entities in the method "createVertexClass", framework is creating the schema with a superclass of type V all the time, no matter what the superclass of the entity is. I have a requirement to use polymorphism in my project.

For example :

Now there is no way I can have an edge in Audit either to Taxonomy or User but t

[2016-07-02 21:46] kkdatkiran commented on #50
I tried every possible which way to override any classes that you have written to be a part of configuration and still couldn't figure out what or which is triggering the creation of the vertices/entities as a part of the Gremlin Repository creation. It would be a great help for me if you can let me know how to handle this scenario?

[2016-08-03 17:03] heniokalinowski opened #51 "NullPointerException while trying TitanDB"
http://stackoverflow.com/questions/38749550/spring-data-gremlin-example-with-titandb

[2017-03-09 02:17] gflp123 opened #52 "mysql database support"
Is Mysql Database Support.  Using Blueprints  JPA Implementation.
thanks.

[2017-03-31 05:37] gflp123 opened #53 "Migrate to Tinkerpop 3.0"
Migrate to Tinkerpop 3.0 ,has any  advice and implementation.

[2017-04-11 13:25] zifnab87 commented on #53
@gflp123  if you are interested there is a migration I am trying to revive here:  https://github.com/zifnab87/spring-data-gremlin/tree/feature/TP3_support

[2017-06-21 14:50] Naghaveer commented on #1
Is it fixed? still, I'm facing the issue with this

[2017-07-11 09:56] gflp123 commented on #53
tp3 migration is done ,whether it is available.
thanks

[2017-08-11 18:17] Sghazzawi opened #56 "License?"
Hey, I don't see a license on this repo, would you be willing to add an MIT or Apache license to this project?

[2017-08-24 02:58] naxelrod commented on #53
Any news on the spring-data-gremlin migration to be compatible with tinkerpop 3.X?  Is this available?

[2017-09-17 18:14] arvind-das opened #57 "tinkerpop3 is out"
Hi ,
tinkerpop 3 stable is out, when can we expect this package to be upgraded ? Please let me know.

Thanks

[2017-09-17 18:15] arvind-das commented on #57
already another issue is opened

[2017-09-17 18:15] #57 closed, assigned to nobody

[2017-11-20 10:44] Andy2003 commented on #6
We are currently working on this issue (https://github.com/kiwigrid/spring-data-gremlin/pull/2).

@gjrwebber Can you please tell us what is the current status of this project? There has been no activity for a long time. The 2 open PRs were also not processed. Can we help you to support this project?

[2017-11-27 10:09] Andy2003 commented on #50
this has been solved by https://github.com/kiwigrid/spring-data-gremlin/pull/1

[2017-12-07 17:43] premkumar-masilamani opened #58 "JanusGraph Support"
Hi Graham - Is there a plan to support JanusGraph DB?

[2017-12-07 17:45] premkumar-masilamani commented on #53
Hi @zifnab87 - I see a couple of branches in your repo for JanusGraph integration and TP3 support. I don't see any releases yet. Are they done?.

Could you please enable "issues" on your repo, so that we can discuss?

[2017-12-07 23:18] zifnab87 commented on #53
@smileprem Hi! I enabled Issues - what is already done is the migration of Tinkerpop2 code to TP3. Unfortunately not all the test pass and I asked @gjrwebber  to do a code review (https://github.com/gjrwebber/spring-data-gremlin/pull/54) of my pull request but without response since April - I tried to contact him through FB twice. As far as Janusgraph Integration nothing was really done - for the

[2017-12-09 04:46] premkumar-masilamani commented on #53
Hi @zifnab87 - Thanks for the quick response. I don't see any other library to integrate a java spring app with Janusgraph. I guess it's going to be a lot of boilerplate code for a while. Thanks again.

[2017-12-09 10:16] zifnab87 commented on #58
For others: https://github.com/zifnab87/spring-data-gremlin is a repo containing JanusGraph Support although the code is outdated since @gjrwebber hasn't code reviews my changes - the changes are old so feel free to expand from my own repo

[2018-04-15 06:56] arvind-das commented on #53
I think I have a good news here, I found out that 5 days ago microsoft team has started as well, here at
[Spring Data Gremlin ](https://github.com/Microsoft/spring-data-gremlin).
I think this will solve most of the problems.

[2018-04-15 06:57] arvind-das commented on #53
Look at their development branch, we can get a good working head start and migrate rest of the things.

[2018-10-18 15:32] jespersm commented on #53
Hi @zifnab87 and everybody else. I've picked up this work in a fork at https://github.com/jespersm/spring-data-gremlin

[2019-06-06 18:15] #58 closed, assigned to nobody

[2019-06-26 17:19] arvind-das commented on #53
Hi @zifnab87  @jespersm and team, I have also done some fixes here. [https://github.com/arvind-das/spring-data-gremlin](https://github.com/arvind-das/spring-data-gremlin)      Tests are failing right now in fetching data via repositories but repositories are working to store information. Running queries via  `@Query` annotation does not return results right now. Working on that.

[2019-06-26 17:21] arvind-das commented on #53
I would be glad if people can contribute in fixing this.

[2019-11-25 13:53] Riduidel commented on #52
A good point could be to add support for [sqlg](https://github.com/pietermartin/sqlg), which bridges graph databases to some SQL engines (including MySQL).

[2020-05-08 09:41] AshaKeerthi commented on #11
Hi @gjrwebber,
Have you get a chance to migrate to Tinkerpop 3.0

[2020-05-08 09:45] AshaKeerthi commented on #53
Hi @jespersm Are you saying you have migrated to Tinkerpop 3.0? If so can you please share your branch

[2020-07-07 22:07] jespersm commented on #53
My branch is at https://github.com/jespersm/spring-data-gremlin - I don't recall how it ended, I haven't used it for a while. As I recall, not everything was working.

Sorry, but I have no plans to pick this up :-/

[2021-03-10 14:36] minaksheej opened #60 "When saving vertex using spring data gremlin for cosmos graph db .Its inserting _classname="full path of class" as a field"
Hi,
I am new to spring data gremlin. When I am saving my vertex domain entity in database using repository , its add  "_classname" field with full class path. I want to know what is the usecase of this? can we stop making spring to insert it .

Any help will be really appreciated.